# Python
__pycache__/
*.py[cod]
*$py.class

# web2py_source
web2py_source/

# web2py
web2py/*
!web2py/applications
web2py/applications/*
!web2py/applications/rlabs

#rlabs
web2py/applications/rlabs/**/*.py[cod]
web2py/applications/rlabs/**/*$py.class
web2py/applications/rlabs/cache/**
web2py/applications/rlabs/databases/**
web2py/applications/rlabs/errors/**
web2py/applications/rlabs/sessions/**
web2py/applications/rlabs/.settings/**
*˜
*.pyc
*.bak
*.log
.project
.pydevproject

# Guacamole
guacamole-websocket/.idea
guacamole-websocket/target/**


# Other files
*.tar.gz
*.bak
*.log

#deploy
!deploy/rlabs_installer/packages/**

#docker-images-deploy
docker-images/**
