# Python
**/__pycache__/
**/*.py[cod]
**/*$py.class

# web2py
web2py/**
!web2py/applications/rlabs


# rlabs
cache/**
databases/**
errors/**
sessions/**
.settings/**
*˜
*.pyc
*.bak
*.log
.project
.pydevproject

# Guacamole
guacamole-websocket/.idea
guacamole-websocket/target/**


# Other files
**/*.tar.gz
**/*.bak
**/*.log
