{{extend 'layout.html'}}
<link href="{{=URL('static', 'css/setup.css')}}" rel="stylesheet"	type="text/css" />

<style type="text/css">

.form_config {
    width: 46%;
}
</style>

<script type="text/javascript">
window.onload = function() {
	  modify_del_selected_button_to_table();
	};

function modify_del_selected_button_to_table() {
	
	var div_remove_selected = document.getElementsByClassName("web2py_table_selectable_actions")[0];
	var button_remove_selected = div_remove_selected.children[0]
	button_remove_selected.setAttribute("value", "Eliminar Seleccionados");
}
</script>

<div class="container_setup">
	<div class="menu_config">
	 {{include 'setup/menu.html'}} 
	</div>
	
	<div class="form_config">
		{{=grid}}
	</div>
</div>

