<ul>
	<li><a href="{{=URL('setup', 'openrlabs')}}">{{=T('openRLabs Config')}}</a></li>
	<li><a href="{{=URL('setup', 'auth_setup')}}">Configurar mecanismo de autenticación</a></li>
	<li><a href="{{=URL('setup', 'ous')}}""">Configurar Unidades Organizativas (OUs)</a></li>	
</ul>
<ul>	
	<li><a href="{{=URL('setup', 'prereserves')}}""">Cache de equipos</a></li>
</ul>
<ul>
	<li><a href="{{=URL('setup', 'timetable')}}""">Horario de Laboratorios</a></li>	
</ul>
<ul>
	<li><a href="{{=URL('setup', 'manage')}}""">Gestionar usuarios</a></li>	
	<li><a href="{{=URL('setup', 'enable')}}""">Habilitar usuarios</a></li>
	<li><a href="{{=URL('setup', 'fileimport')}}""">Importar usuarios de Fichero CSV</a></li>			
</ul>
<ul>
	<li><a href="{{=URL('setup', 'services')}}""">Gestionar servicios</a></li>	
</ul>
